@import "variables";
.portfolio-pages{
    display: inline-block;
    margin-left: 33%;
    margin-top:40px;
    margin-bottom: 40px;
    ul{
        li{
            display: inline-block;
            a{
                display: inline-block;
                background: $green;
                text-decoration: none;
                padding: 10px;
                font-size: 1.1rem;
                line-height: 20px;
                text-align: center;
                color: white;
                font-weight: bold;
                height: 40px;
                width: 40px;
                border-radius: 5px;
            }
            a:hover{
                background: $red;
            }
        }
    }
}