@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$green-var-color: rgb(54, 230, 83);
$darker1-green-var-color: rgb(35, 175, 58);
$darker2-green-var-color: rgb(26, 131, 43);
$orange-var-color: rgb(250, 147, 51);
$darker-orange-var-color: rgb(201, 105, 15);


*{
  margin:0;padding:0;box-sizing: border-box;font-family: "Open Sans";
}

header{
  background: $green-var-color;
  height: 80px;
}

.wrapper{
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  // background: red;
  color: black;
}

.wrapper .logo h1{
  display: inline-block;
  text-transform: uppercase;
  line-height: 80px;
}

.wrapper nav{
  width: 70%;
}

.wrapper nav ul{
  line-height: 80px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  // width: 70%;
}

.wrapper nav ul li{
  display: inline-block;

  a{
    color:black;
    text-decoration: none;
    padding: 3px 15px;
    border-radius: 5px;
  }
}

.wrapper nav ul li a:hover{
  background: $orange-var-color;
  border-bottom: 4px solid $darker-orange-var-color;
}

.menu{
}



.relative-to{
  position: relative;

  .menu-border{
    position: absolute;
    width: auto;
    top: 75px;
    z-index: 1000;

    ul{
      display: block;
      line-height: 35px;
      background:$darker-orange-var-color;
      padding: 3.8px;
      border-radius: 5px;
      
      
      &::before{
        content: "";
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $darker-orange-var-color;
        border-left: 10px solid transparent;
        position: absolute;
        top:-15px;
        left: 10px;
      }

      li{
        background:$orange-var-color;
        width: max-content;
        margin: 3.8px;
        border-radius: 5px;

        &:hover,a:hover{
          background: $green-var-color;
          border: none;
        }
      }
    }
  
  }
}
